/* Our CSS file. */
.container, .content {
    width: 100%;
    }
    .content {
        display: inline-block;
    }
    .section {
        width:49%;
        display: inline-block;
    }
    .align-top{
        vertical-align: top;
    }
    .align-verical-center {
        vertical-align: middle !important;
    }